<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre de Usuario</mat-label>
        <input
          ngModel
          name="userName"
          id="userName"
          matInput
          placeholder="Username"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>* Campo Obligatorio</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input
          ngModel
          name="userPassword"
          id="userPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
        />
        <button 
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>* Campo Obligatorio</mat-hint>    
      </mat-form-field>
       
      <button 
        type="submit"
        class="w-100 mt-5"
        mat-raised-button color="primary">Iniciar
        </button>

      
    </form>
  </div>
</div>
